*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.gloria-hallelujah-regular {
  font-family: "Gloria Hallelujah", cursive;
  font-weight: 400;
  font-style: normal;
}

.quicksand-light {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.quicksand-bold {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

html {
  font-family: "Quicksand", Helvetica, Sans-serif;
  color: #F2F2F2;
  font-size: 16px;
  text-align: center;
  background-image: linear-gradient(rgba(13, 13, 13, 0.75), rgba(13, 13, 13, 0.75)), url("./assets/geriart-woodpile-6364896_1920.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  background-attachment: fixed;
}

body {
  width: 100vw;
  line-height: 1.5;
  margin: 0 auto;
}

header {
  margin-top: 25px;
}

h1 {
  max-width: 500px;
  min-width: 100px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  font-family: "Gloria Hallelujah", "Times New Roman", Times, serif;
  font-size: 2.5rem;
  color: #A6A26D;
}

h2 {
  max-width: 500px;
  min-width: 100px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.5rem;
  color: #8C8177;
}

main {
  margin-top: 25px;
  margin-left: auto;
  margin-right: auto;
  padding: 15px 10px;
  max-width: 500px;
  min-width: 100px;
  height: auto;
  background-color: #59573E;
  border-color: #A6A26D;
  border-radius: 5px;
  text-align: center;
}

p {
  margin: 10px 20px;
}

em, strong {
  color: #A6A26D;
}

.lesson {
  font-size: 1.5rem;
  font-weight: 700;
}
